.like-box {
  .like-button {
    float: left;
    margin-right: 10px;
  }
  .likes-box--disable {
    visibility: hidden;
  }
  .like-counter {
    float: right;
  }
}

.like-symbol {
  float: left;
  width: 10px;
  margin-right: 5px;
}
