.row
 .medium-8.columns
   = form_for page do |f|
     div class=field
       f.label :title
       f.text_field :title
     div class=field
      f.label :body
      f.text_field :body
     div class=field
       f.label :position
       f.text_field :position
     div class=field
       f.label :theme
       f.text_field :theme
     div class=actions
     f.submit
